.i{
    width: 20%;
    margin: 30px 15px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 10px 10px 10px 2px #6c757d;
    transition: transform 1s;
    background-color: #fff;
    
    
}

.i:hover{
    transform:scale(1.5);
    background-color:#6c757d;
    box-shadow: 0px 0px 0px 0px #fff;
    cursor: pointer;
    z-index: 1;
}


.i-img{
    width: 100%;
    object-fit: contain;
    z-index: 0;
  
}






@media screen and (max-width: 480px) {
    .i{
        width: 70%;
    }


}